<div style="margin-bottom: 20px ;">
    <table style="border-collapse: collapse; width: 100%;" border="0">
        <tbody>
            <tr>
                <td style="width: 48.9023%;">
                    {% if page.previous.url %} <b><h5 class="mbr-text mbr-fonts-style display-7"><a href="{{page.previous.url}}" rel="prev"><span class="meta-nav">&larr;</span> {{page.previous.headline}}</a></h5></b> {% endif %}
                </td>

                <td style="width: 48.9023%; text-align: right;">
                    {% if page.next.url %} <h5 class="mbr-text mbr-fonts-style display-7"><a href="{{page.next.url}}" rel="next">{{page.next.headline }} <span class="meta-nav">&rarr;</span></a></h5> {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
