<div style="display: flex; justify-content: center; align-items: center; height: 60px; border: none;">
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <p class="mbr-text mbr-fonts-style display-7"><a href="{{ paginator.previous_page_path | relative_url }}"><i class="fa-solid fa-square-caret-left"></i> Prev</a></p>
        {% else %}
        <p class="mbr-text mbr-fonts-style display-7"><span><i class="fa-solid fa-square-caret-left"></i> Prev</span></p>
        {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %} {{ page }} {% elsif page == 1 %}
        <p class="mbr-text mbr-fonts-style display-7"><a href="{{ '/' | relative_url }}"> {{ page }}| </a></p>
        {% else %}
        <p class="mbr-text mbr-fonts-style display-7"><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}"> |{{ page }} </a></p>
        {% endif %} {% endfor %} {% if paginator.next_page %}
        <p class="mbr-text mbr-fonts-style display-7"><a href="{{ paginator.next_page_path | relative_url }}">Next <i class="fa-solid fa-square-caret-right"></i></a></p>
        {% else %}
        <p class="mbr-text mbr-fonts-style display-7"><span>Next <i class="fa-solid fa-square-caret-right"></i></span></p>
        {% endif %}
    </div>
    {% endif %}
</div>
